.field-container {
    display: flex;
    height: 75px;
}
  
.input-spacing {
    margin: 5px;
    padding: 10px;
    margin-right: 20%;
    width: 75%;
}
  
.label-spacing {
    margin: 5px;
    margin-left: 25px;
    padding: 10px;
    padding-top: 20px;
    width: 25%;
}

.error {
  padding: 5px;
  color: red;
  font-style: italic;
  font-size: 12px;
}

.arrow-decoration {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      radial-gradient(#ddd 70%, transparent 72%);
    background-position: calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px), calc(100% - 0.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
    background-repeat: no-repeat;
  }