.submit-button {
    border: none;
    background-color: #3c7fd1;
    border-radius: 10px;
    padding: 10px;
    color: #dfdfdf;
    font-weight: bold;
}

.submit-button:hover{
    background-color: #5f9fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}