.grid{
    margin: 10px auto;
    max-width: 1500px;
    width: 100%;
    height: auto;
    border-collapse: collapse;
    text-align: center;
    background-color: white;
    overflow-y: scroll;
    border-radius: 10px;
}

.grid-head {
    background-color: #eaeaff;
    font-weight: bold;
}

.grid-head, .grid-body{
    width: 100%;
}

.grid-head tr, .grid-body tr{
    border-bottom: 1px solid black;
}

.grid-head tr:last-child, .grid-body tr:last-child{
    border-right: none;
}

.grid-head tr{
    padding: 30px 0;
    border-bottom: 3px solid black;
}

.grid td{
    padding: 8px;
    /* border-right: 1px solid black; */
}

td:last-child, .grid-body tr:last-child{
    border-bottom: none;
}

.grid tr{
    height: 40px;
}

.grid tr:nth-child(2n){
    background-color: #f7f7f7;
}

.no-val-error{
    color: red;
}

.soft-deleted{
    background-color: #808080 !important;
}

.loading{
    display: flex;
    justify-content: center;
}

.loading p {
    font-weight: bold;
    font-size: 24px;
}